.event-location-container {
  max-width: $full-width-wrapper;
  display: flex;
  flex-direction: row;
  margin: 2.5rem auto 3.5rem auto;
  -webkit-box-shadow: 0px 7.5px 30px 0px #ccc;
  -moz-box-shadow:    0px 7.5px 30px 0px #ccc;
  box-shadow:         0px 7.5px 30px 0px #ccc;
  flex-wrap: wrap;

  .info-section {
    width: 50%;
    padding: 1.5rem 5.75rem;

    h2, h3 {
      font-size: 1.25rem;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 2rem;
      font-family: 'knockout';
      line-height: 2rem;
    }

    hr {
      margin: 2rem 0;
      opacity: 0.5;
    }

    .event-date-label {
      margin-top: 1.75rem;
    }

    .event-links {
      display: flex;

      div {
        @include responsive-min($responsive-laptop) {
          margin-right: 20px;
          width: 50%;
        }

        p {
          font-size: 1rem;

          a {
            color: $red;
            text-decoration: none;
            font-style: normal;

            img {
              margin-left: 0.25rem;
              width: 1.15rem;
            }
          }
        }
      }

    }
  }

  .map-section {
    width: 50%;
    height: 100%;

    .wpgmza_sl_main_div {
      display: none;
    }

    .wpgmza-infowindow {
      color: black;
    }
  }
}

@include responsive-max(1440px) {
  .event-location-container {
    max-width: 960px;
  }
}

@include responsive-max(1210px) {
  .event-location-container {
    max-width: 850px;

    .info-section {
      padding: 1.5rem 3.25rem;
    }
  }
}

@include responsive-max(1080px) {
  .event-location-container {
    max-width: 600px;
    height: 860px;

    .info-section {
      width: 100%;
      max-height: 500px;

      .event-links {
        flex-direction: column;
      }
    }

    .map-section {
      width: 100%;
      max-height: 406.5px;
    }
  }
}


@include responsive-max(860px) {
  .event-location-container {
    max-width: 500px;
  }
}



@include responsive-max(600px) {
  .event-location-container {
    max-width: 400px;
    height: 650px;

    .info-section {
      max-height: 335px;
      padding: 1.75rem 2.75rem;

      p {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      h2, h3 {
        font-size: 0.95rem;
        line-height: 1rem;
      }

      .event-date-label {
        margin-top: 1rem;
      }

      hr {
        margin: 1.25rem 0 1rem 0;
      }

      .event-links {
        p {
          a {
            font-size: 0.95rem;
            line-height: 1.75rem;
          }
        }
      }
    }

    .map-section {
      max-height: 317.5px;

    }
  }
}

@include responsive-max(440px) {
  .event-location-container {
    max-width: 300px;
    height: 525px;

    .info-section {
      max-height: 275px;
      padding: 1.75rem 1.75rem 1.25rem 1.75rem;

      p {
        font-size: 1rem;
        line-height: 1rem;
      }

      h2, h3 {
        font-size: 0.75rem;
        line-height: 0.8rem;
      }

      .event-date-label {
        margin-top: 0.75rem;
      }

      hr {
        margin: 1.25rem 0 0.75rem 0;
      }
      
      .event-links {
        a {
          font-size: 0.75rem;
          line-height: 1.6rem;
        }
      }
    }

    .map-section {
      max-height: 250px;

    }
  }
}