.styled-button {
  &.background-red {
    background-color: $red;
    &:hover {
      background: lighten($red, 15%);
    }
  }
  &.background-white {
    background-color: $white;
    &:hover {
      background: lighten($white, 15%);
    }
  }
  &.color-white {
    color: $white;
  }
  &.color-black {
    color: $black;
  }
  &.color-red {
    color: $red;
  }
  &.hover-black:hover {
    color: $black;
  }
  &.outline-red {
    border: 2px solid $red;
  }
  &.text-small {
    font-size: 20px;
    line-height: 15px;
  }
  &.text-medium {
    font-size: 25px;
    line-height: 25px;
  }
  &.text-large {
    font-size: 50.4px;
    line-height: 50.4px;
  }

  &:hover {
    transition: background-color 0.3s ease-in;
    cursor: pointer;
  }
}
