.block-single-callout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .callout-inner {
    max-width: $full-width-wrapper;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    @include responsive-max($full-width-wrapper){
      margin: 20px;
      flex-wrap: wrap;
    }

    &.left-line {
      @include responsive-max($full-width-wrapper){
        border-left: 2px solid #ffffff;
      }
      & .callout-left {
        @include responsive-min($full-width-wrapper){
          border-left: 2px solid #ffffff;
        }
        padding: 0px 0px 0px 40px;
      }
    }
  }
}

.callout-left {
  flex-basis: 57.5%;
  padding: 0px 40px 0px 20px;
  margin: 20px auto;
  h3 {
    padding-top: 2px;
  }
  p {
    padding: 20px 0px;
  }

  @include responsive-max($full-width-wrapper){
    flex-basis: 100%;
    border-left: none;
    padding: 0px 0px 0px 30px;
    margin: 0;
    p {
      padding: 24px 0px 0px;
    }
  }
}
.callout-right {
  display: flex;
  flex-basis: 42.5%;
  @include responsive-max($full-width-wrapper){
    flex-basis: 100%;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .cta-button {
    padding-left: 85px;
    padding-right: 85px;
  }
}

.callout-link {

}

.cta-button {
  padding: 18px 130px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  background-color: $white;
  /*font-size: 36px;*/
  font-size: 2.25rem;
  letter-spacing: 1px;
  border-radius: 2px;
  @include responsive-max($full-width-wrapper){
    padding: 20px 85px;
    font-size: 1.6rem;
  }
}

.block-single-callout-red {
  background-color: $red;
  color: $white;
  h3, p {
    color: $white;
  }
}




