.block-team-small {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 290px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
  min-height: 470px;
}

.team-small-container {
  background-color: $white;
}

.team-small-container:hover {
  .team-small-title {
    @include responsive-min($responsive-laptop) {
      display: none;
    }
  }

  .team-small-location {
    @include responsive-min($responsive-laptop) {
      display: none;
    }
  }

  .team-small-members-container {
    display: block;
  }
}

.team-small-thumbnail-container {
  height: 225px;
}

.team-small-thumbnail {
  height: 100%;
  max-height: none;
  object-fit: cover;
}

.team-small-info {
  position: relative;
  padding-top: 20px;
  padding-bottom: 36px;
  padding-left: 18px;
  padding-right: 52px;
}

.team-small-title {
  display: block;
  margin-bottom: 20px;
  max-width: 220px;
  line-height: 52px;
  font-size: 36px;
}

.team-small-location {
  margin-bottom: 20px;
}

.team-small-members-container {
  margin-bottom: 30px;
  
  @include responsive-min($responsive-laptop) {
    display: none;
  }
}

.team-small-member-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.team-small-member-position {
  word-break: normal;
}

.team-small-link-container {
  margin-bottom: 20px;
}

.team-small-social {
  display: flex;
  position: absolute;
  top: 25px;
  right: 18px;
  flex-direction: column;
  align-items: center;
}

.team-small-social-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
