.text-callouts-group {
  max-width: $full-width-wrapper;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 6rem;

  .callout-container {
    max-width: 33.333%;
  }
  
  .single-text-callout {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 370px;
    flex-grow: 1;
    max-height: 315px;
    display: flex;
    -webkit-box-shadow: 0px 5px 26px -3px #ccc;
    -moz-box-shadow: 0px 5px 26px -3px #ccc;
    box-shadow: 0px 5px 26px -3px #ccc;

    &.has-image {
      background-color: $cool-light-gray;
      min-width: 370px;
      max-height: 510px;


      .callout-details {
        margin: 0 1rem 0 0;
        background-color: $cool-light-gray;

        h4 {
          margin: 1rem 1.25rem 0;
        }

        p {
          margin: -1rem 0 0 20px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          padding-bottom: 1.25rem;
        }

        a {
          display: flex;
          align-self: flex-start;
          padding-bottom: 0;

          img {
            left: 0.35rem;
          }
        }
      }
    }

    img {
      width: 100%;
      height: 288px;
    }

    .callout-details {
      height: 315px;
      background-color: $white;
      color: $black;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 1rem;

      h4 {
        margin: 2rem 0;
      }

      p {
        padding-bottom: 2rem;
      }

      a {
        padding-bottom: 2rem;
        text-decoration: none;
        color: red;
        text-transform: uppercase;
        align-self: flex-end;
        margin-right: 1rem;
        font-family: 'knockout';

        img {
          width: 1rem;
          max-height: 1rem;
          position: relative;
          top: 0.1rem;
          left: 0.1rem;
        }
      }
      
      &.has-image {
        height: 218px;
      
        h4 {
          margin: 20px 20px 15px;
        }
      
        p {
          margin: 0 0 15px 20px;
        }
      
        a { 
          margin: 0 0 28px 20px;
        }
      }
    }
  }
}

.text-callouts-group.slick-slider {
  display: block;
  margin-bottom: 80px;

  .slick-track {
    height: 340px;
  }

  .callout-container {
  
    .single-text-callout {
      display: block;
      margin: 0 auto;
  
      .callout-details {
        a {
          display: flex;
  
          img {
            left: 0.3rem;
          }
        }
      }
    }
  }

  .slick-dots {
    li.slick-active button {
      border: 2px $red solid;

      &:before {
        color: $red;
        opacity: 1;
      }
    }
  
    li button {
      border: 2px black solid;
      border-radius: 10px;
    
      &:before {
        font-size: 33px;
        left: 0.5px;
        top: -0.5px;
        opacity: 0;
      }
    }
  }
}