.block-slash {
  position: relative;
}

.block-slash-container {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -2;
}

.block-slash-img-container {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -2;

  &.block-slash-img-left .block-slash-img {

  }

  &.block-slash-img-right {
    top: 0;
    transform: translate(0, -85%);

    .block-slash-img {
      margin-left: auto;
    }
  }
}

.block-slash-img {
  display: block;
  width: 43%;
}

.slash {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1440px;
  max-width: none;
  max-height: none;
  z-index: -3;
}

.slash-mask {
  z-index: -1;
  transform: translate(-50%, -15.4%);
}
