.block-hero-carousel {
  .ms-view {
    height: 540px!important;

    @include responsive-min($responsive-tablet) {
      height: 700px!important;
    }
  }
  .ms-wk .ms-slide {
    height: 540px!important;

    @include responsive-min($responsive-tablet) {
      height: 700px!important;
    }
  }
  .ms-tabs {
    &.ms-dir-h .ms-thumb-frame {
      margin-top: 0;
      background-color: $white;
    }

    .ms-thumb {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ms-thumb-ol {
    display: none;
  }

  .ms-thumb {
    height: 100%;
  }

  .ms-thumb-list {
    position: relative;
    top: -64px;
  }
}

.hero-carousel-image {
  position: absolute;
  background-color: gray;
  object-fit: contain;
  width: 100%;
}

.hero-carousel-thumbnail {
  display: flex;
  flex-direction: column;
  box-shadow: -7px 14px 23px 0 rgba(76,76,78,0.10);
  border-radius: 2px 0 0 2px;
}

.hero-carousel-thumbnail-image {
  flex-basis: 37%;
  background-color: $light-gray;
  object-fit: cover;
}

.hero-carousel-thumbnail-top {
  display: flex;
  height: 100%;
}

.hero-carousel-thumbnail-content {
  flex-basis: 63%;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 8px;
  padding-right: 12px;
}

.hero-carousel-thumbnail-timer {
  height: 6px;
  width: 100%;
  background-color: $light-gray;
}

.hero-carousel-thumbnail-timer-progress {
  width: 0;
  height: 6px;
  background-color: $red;
  transition: width 0.1s ease-out;
}

.hero-carousel-caption-container {
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.hero-carousel-caption {
  display: -webkit-box;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  word-wrap: break-word;
  z-index: 1;
  margin-top: 113px;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: $white;

  @include responsive-min($responsive-tablet) {
    left: 130px;
    padding-left: 0;
    padding-right: 0;
    max-width: 560px;
    color: $black;
  }
}

.hero-carousel-thumbnail-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
}
