.block-package {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 95px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 389px;
  background-size: 205px 120px;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);

  @include responsive-min($responsive-laptop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 28px;
    padding-left: 57px;
    padding-right: 61px;
    max-width: 971px;
    background-size: 252px 146px;
  }
}

.block-package-white {
  background-color: $white;
  background-image: url('../images/symbol-slash.svg');
  @include responsive-min($responsive-laptop) {
    background-image: url('../images/symbol-slash-large.svg');
  }

  .package-name {
    color: $black;
  }
}

.block-package-gray {
  background-color: $gray;
  background-image: url('../images/symbol-slash.svg');
  @include responsive-min($responsive-laptop) {
    background-image: url('../images/symbol-slash-large.svg');
  }

  .package-name {
    color: $white;
  }

  .package-info-container {
    h1, h2, h3, h4, p {
      color: $white;
    }
  }
}

.block-package-red {
  background-color: $red;
  background-image: url('../images/symbol-slash-white.svg');

  .package-name {
    color: $white;
  }

  .package-info-container {
    h1, h2, h3, h4, p {
      color: $white;
    }
  }

  @include responsive-min($responsive-laptop) {
    background-image: url('../images/symbol-slash-large-white.svg');

    .package-name {
      color: $black;
    }

    .package-info-container {
      h1, h2, h3, h4, p {
        color: $black;
      }
    }
  }
}

.package-name {
  line-height: 50px;
  @include responsive-min($responsive-laptop) {
    line-height: 52px;
  }
}

.package-price-container-mobile,
.package-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  padding-left: 2px;
  @include responsive-min($responsive-laptop) {
    margin-top: 12px;
  }
}

.package-price-container-mobile {
  @include responsive-min($responsive-laptop) {
    display: none;
  }
}

.package-price-container {
  display: none;
  @include responsive-min($responsive-laptop) {
    display: flex;
  }
}

.package-wrapper {
  @include responsive-min($responsive-laptop) {
    margin-right: 10px;
    max-width: 400px;
  }
}

.package-price-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include responsive-min($responsive-laptop) {
    align-items: flex-start;
    margin-right: 10px;
  }
}

.package-price-dollar-symbol,
.package-price-cents {
  margin-bottom: 18px;
  white-space: nowrap;
  @include responsive-min($responsive-laptop) {
    margin-top: 19px;
    margin-bottom: 0;
  }
}

.package-price-cents {
  white-space: nowrap;
  @include responsive-min($responsive-laptop) {
    position: relative;
    left: -8px;
    margin-top: 14px;
  }
}

.package-price-dollar {
  line-height: 106px;
  white-space: nowrap;
  @include responsive-min($responsive-laptop) {
    line-height: 130px;
  }
}

.package-price-info {
  margin-top: 22px;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.8px;
  @include responsive-min($responsive-laptop) {
    margin-top: 9px;
    margin-left: 36px;
    margin-right: 36px;
  }
}

.package-info-container {
  padding-top: 38px;
  padding-bottom: 25px;
  border-bottom: 1px solid $light-gray;

  @include responsive-min($responsive-laptop) {
    padding-top: 17px;
    padding-bottom: 26px;
  }

  h1, h2, h3, h4 {
    margin-bottom: 18px;
    @include responsive-min($responsive-laptop) {
      margin-bottom: 16px;
      letter-spacing: 0.7px;
    }
  }

  a {
    display: block;
    color: $black;
  }
}

.package-button-container {
  margin-top: 32px;
  padding-top: 19px;
  padding-bottom: 23px;
  padding-left: 42px;
  padding-right: 38px;
  @include responsive-min($responsive-laptop) {
    margin-top: 20px;
    margin-bottom: 11px;
    padding-top: 17px;
    padding-bottom: 22px;
    padding-right: 35px;
    letter-spacing: 1.3px;
  }
}

.package-button-text {
  font-size: 34px;
  line-height: normal;
}
