.block-video {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $full-width-wrapper;
  text-align: center;
  background-color: $black;
}