.block-news-promo {
  // max-width: 770px;
}

.news-promo-container {
  display: flex;
  flex-direction: column;
  min-height: 610px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);

  @include responsive-min($responsive-laptop) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &.news-promo-large {
    height: 610px;
  }
}

.news-promo-thumbnail-container {
  flex-basis: 61%;
  position: relative;
}

.news-promo-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: $black;
}

.news-promo-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 39%;
  padding-left: 30px;
  padding-right: 20px;
  background-color: white;
}

.news-promo-title {
  margin-bottom: 20px;
}

.news-promo-date {
  margin-bottom: 20px;
}

.news-promo-excerpt {
  padding-bottom: 40px;
  border-bottom: 1px solid $light-gray;
}

.news-promo-link {
  margin-top: 42px;
}

.news-promo-caption-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.news-promo-caption-wrapper {
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $off-white;
  border-radius: 2px;
}

.news-promo-caption {
  font-size: 12px;
  line-height: 13px;
  color: $gray;
}
