.block-page-intro {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1210px;

  @include responsive-min($responsive-tablet) {
    margin-top: 50px;
    padding-left: 120px;
  }
}

.block-page-intro-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: $full-width-wrapper;
}

.page-intro-main-container {
  margin-bottom: 20px;

  @include responsive-min($responsive-tablet) {
    margin-bottom: 40px;
  }

  &.has-cta {
    @include responsive-min($responsive-tablet) {
      margin-bottom: 60px;
    }
  }
}

.page-intro {
  max-width: $full-width-wrapper;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;

  @include responsive-max($responsive-tablet) {
    flex-direction: column;
    justify-content: space-between;
  }
  
  .page-intro-main {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 700px;

    @include responsive-min($responsive-tablet) {
      margin-right: 70px;
    }
  }

  .page-intro-adspace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    max-width: 300px;

    @include responsive-max($responsive-tablet) {
      margin: 60px auto 0;
      padding: 20px 0;
    }
  }
}


h1.page-intro-main-headline {
  font-family: "Knockout";
  color: #000000;
  font-size: 60px;
  letter-spacing: 0.6px;
  line-height: 52px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 40px;
}