.block-image-carousel {
  padding: 0;

  &.image-carousel-gray {
    background-color: $cool-light-gray;
  }
}

.image-carousel-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $full-width-wrapper;
  padding-bottom: 40px;
}

.image-carousel-sub-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;

  @include responsive-max($responsive-laptop) {
    padding-right: 100px;
  }
}

.image-carousel-accordion {
  padding-bottom: 1px;

  .image-carousel-trigger {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 0;
    padding-right: 15px;
    max-width: none;
    background-color: $gray;
    cursor: pointer;

    .arrow-right {
      display: block;
      transform: rotate(90deg);
    }

    .image-carousel-title {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      color: $white;
    }

    @include responsive-min($responsive-laptop) {
      padding-top: 70px;
      padding-left: 20px;
      padding-right: 100px;
      max-width: 1000px;
      background-color: transparent;

      .image-carousel-title {
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        color: $black;
      }
    }
  }

  &.active .arrow-right {
    transform: rotate(270deg);
  }

  &.active .image-carousel-content {
    @include responsive-max($responsive-laptop) {
      max-height: none;
    }
  }

  .image-carousel-content {
    @include responsive-max($responsive-laptop) {
      max-height: 0;
      overflow: hidden;
    }
  }
}

.image-carousel-sub-container-top-body {
  padding-top: 30px;
}

.image-carousel-featured .image-carousel-sub-container {
  padding-top: 20px;
}

.image-carousel-sub-container.image-carousel-nobody {
  padding-top: 0;
  padding-left: 0;
  max-width: none;

  @include responsive-min($responsive-tablet) {
    max-width: 92.5vw;
    margin: 0 auto;
  }

  .image-carousel-title {
    padding-bottom: 0;
  }
}

.image-carousel-title {
  padding-bottom : 30px;

  @include responsive-min($responsive-laptop) {
    padding-bottom: 25px;
  }
}

.image-carousel-gallery-circular {
  .image-carousel-slide.level1 {
    z-index: 1;
  }
  .image-carousel-slide.level2 {
    z-index: 2;
  }
  .image-carousel-slide.level3 {
    z-index: 3;
  }
  .image-carousel-slide {
    height: 488px;
    z-index: 0;
    // transition: z-index 0.5s ease-out;
  }

  .image-carousel-image {
    position: relative;
    left: calc((100% - 767px) / 2);
    width: 767px;
    max-width: 767px;
    height: 423px;
    max-height: 423px;
    // transition: width 0.5s ease-out, height 0.5s ease-out, max-width 0.5s ease-out, max-height 0.5s ease-out;
    transition: transform 0.5s ease-out;
  }

  .slick-center .image-carousel-image {
    z-index: 1;
    transform: scale(1.1);
    // top: calc((100% - 110%) / 2);
    // left: calc((100% - 150%) / 2);
    // width: 150%;
    // max-width: 150%;
    // height:  100%;
    // max-height: 100%;
    // overflow: visible;
    // z-index: 1;
  }
}

.image-carousel-bottom-title {
  margin-bottom: 20px;
}

.image-carousel-image {
  // transition: width 0.5s ease-in, height 0.5s ease-in, transform 0.5s ease-in, max-width 0.5s ease-in, max-height 0.5s ease-in;
}

.image-carousel-track {
  height: 100%;
}

.image-carousel-gallery-mobile {
  padding-top: 20px;
  @include responsive-min($responsive-laptop) {
    display: none;
  }
}

.image-carousel-gallery {
  display: none;
  margin-top: 2rem;
  margin-bottom: 20px;
  min-width: 0;

  @include responsive-min($responsive-laptop) {
    display: block;
  }

  @include responsive-min($responsive-tablet) {
    max-width: 92.5vw;
    margin: 2.5rem auto 0.75rem auto;
  }
}

.image-carousel-featured .image-carousel-gallery {
  display: block;
}

.image-carousel-track {
  height: 568px;
}

.image-carousel-slides {
  display: none;
  min-width: 0;
  height: 100%;
}

.image-carousel-rtl .image-carousel-slide {
  flex-direction: row-reverse;
}

.image-carousel-slide {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;

  @include responsive-min($responsive-laptop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.image-carousel-image-container-left {
  padding-left: 15px;
  width: 50%;
  height: 100%;
}

.image-carousel-image-container-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 15px;
  width: 50%;
  height: 100%;
}

.image-carousel-image-container {
  display: block;
  width: 100%;
  height: 100%;
}

.image-carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;

  @include responsive-min($responsive-laptop) {
    object-fit: cover;
  }
}

.image-carousel-image-0 {
  width: 100%;
  height: 100%;
  padding-right: 32px;
}

.image-carousel-image-1 {
  width: 50%;
  height: 50%;
  padding-right: 16px;
  padding-bottom: 16px;
}

.image-carousel-image-2 {
  width: 50%;
  height: 50%;
  padding-left: 16px;
  padding-bottom: 16px;
}

.image-carousel-image-3 {
  width: 100%;
  height: 50%;
  padding-top: 16px;
}

.image-carousel-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-carousel-navigation.hidden,
.image-carousel-mobile-navigation.hidden {
  display: none;
}

.image-carousel-navigation-arrows {
  display: flex;
  align-items: center;
}

.image-carousel-navigation-arrow {
  position: static;
  background-color: $gray;
  width: 48px;
  height: 48px;
  outline: none;
  cursor: pointer;
}

.image-carousel-navigation-pagination {
  margin-left: 50px;
  margin-right: 50px;
  width: 45px;
  text-align: center;
}

.image-carousel-navigation-pagination.js-carousel-mobile-nav-pagination {
  margin: 0;
  padding: 0 40px;
  width: auto;
}

.image-carousel-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include responsive-min($responsive-laptop) {
    flex-direction: row;
  }
}

.image-carousel-link {
  padding-right: 35px;
  padding-bottom: 20px;
}

.image-carousel-gallery-featured {
  max-width: $full-width-wrapper;
  height: 100%;
  overflow: hidden;

  @include responsive-min($responsive-laptop) {
    margin-left: 0;
    margin-right: 0;
  }

  .ms-container,
  .ms-inner-controls-cont {
    height: 100%;
  }

  &.ms-layout-partialview .ms-container {
    overflow: visible;
  }

  .ms-slide .ms-slide-bgcont img {
    object-fit: cover;
  }

  .image-carousel-navigation-pagination {
    position: absolute;
    bottom: 21px;
    left: 50%;
    margin-left: 0;
    margin-right: 0;
    transform: translate(-50%, 0);
  }

  .ms-slide-info {
    height: 70px;
  }

  .ms-nav-next,
  .ms-nav-prev {
    position: absolute;
    top: auto;
    bottom: -68px;
    width: 48px;
    height: 48px;
    transform: translate(-50%, 0);
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $gray;
    cursor: pointer;
  }
  
  .ms-nav-next {
    left: calc(50% + 89px);
    background-image: url('../images/arrow-right-nav-white.svg');
  }

  .ms-nav-prev {
    left: calc(50% - 89px);
    background-image: url('../images/arrow-left-nav-white.svg');
  }

  .spacer {
    height: 70px;;
  }
}
