.ctrs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F2F2F2;
  width: 100%;
  .ctrs-title-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    h3 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .ctrs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;

    @include responsive-max($responsive-laptop){
      flex-direction: column;
    }

    &.full-width {
      flex-direction: column;
      .ctrs-standings-list {
        max-width: unset;
        padding: 10px;
      }
    }

    

    .ctrs-standings-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 570px;
      width: 100%;
      

      h3 {
        padding: 15px 0 15px 20px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #979797;
        color: #4C4C4E;
      }

      .standings-container {
        border: 1px solid #979797;
        border-top: none;
      }

      &.ctrs-womens-list {
        margin-right: 15px;
      }
      &.ctrs-mens-list {
        margin-left: 15px;
      }

      p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        &.ctrs-odd-row {
          
        }
        &.ctrs-even-row {
          background-color: #fff;
        }
        span.name {
          padding-left: 20px;
        }
        span.score {
          padding-right: 0px;
        }
        span.prov {
          width: 192px;
        }
        .ctrs-detail-link {
          padding-right: 20px;
        }
      }
    }
  }

  .ctrs-doubles {
    .ctrs-standings-list p span.name {
      padding-left: 0;
    }
    .ctrs-standings-list p span.rank {
      padding-left: 68px;
    }
  }

  .ctrs-cup {
    .ctrs-standings-list p span.name {
      padding-left: 0;
      padding-right: 60px;
    }
    .ctrs-standings-list p span.rank {
      padding-left: 68px;
    }
    .ctrs-standings-list p span.score {
      padding-right: 0;
    }
  }

  .standings-link {
    color: $red;
    text-transform: uppercase;
    font-family: $knockout;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 36px;
  }

  .ctrs-menu-container {
    display: flex;
    flex-direction: row;
    .ctrs-menu  {
      font-family: $knockout;
      color: #4C4C4E;
      padding: 20px 60px 20px 20px;
      text-transform: uppercase;
      background-color: #D8D8D8;
      cursor: pointer;
      &:hover {
        color: #FFF;
      }
      &.selected {
        background-color: $red;
        color: #FFF;
        cursor: unset;
      }
    }
  }

  .hide {
    display: none;
  }

  @include responsive-max($responsive-laptop){
    /*display: none;*/
  }

}
.ctrs-container .ctrs-teams {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  .standings-container {
    /*padding: 15px 0 15px 20px;*/
    width: 100%;
    background-color: #fff;
    /*border: 1px solid #979797;*/
    color: #4C4C4E;

    .ctrs-position {
      display: flex;
      justify-content: start;
      margin: 5px 0;
      .pos {
        min-width: 80px;
      }
    }
  }

  .ctrs-team-results-team-container {
    padding: 15px 20px 15px 20px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #979797;
    color: #4C4C4E;
    margin: 20px 0;
    .ctrs-team-results-title {
      margin-bottom: 10px;
    }
    .standings-container {
      .title-row {
        font-weight: bold;
      }
      .rank-row {

      }
      .old-rank-row {
        background-color: #F2F2F2;
        font-style: italic;
      }
      .total-row {
        justify-content: end;
      }
      p {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 10px 0;
        span {
          min-width: 200px;
          @include responsive-max($responsive-laptop){
            min-width: 160px;
          }
        }
        span.event-name {
          min-width: 500px;
          @include responsive-max($responsive-laptop){
            min-width: 160px;
            margin-right: 20px;
          }
          input {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.ctrs-team-results-title {
  padding-top: 20px;
  padding-bottom: 20px;
}