.block-slash {
  display: none;
  position: relative;

  @include responsive-min($responsive-laptop) {
    display: block;
  }
}

.block-slash-container {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -2;
}

.block-slash-img-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;

  &.block-slash-img-left .block-slash-img {
    transform: translate(0, -8%);
  }

  &.block-slash-img-right {
    left: auto;
    right: 0;
    transform: translate(0, -97%);

    .block-slash-img {
      margin-left: auto;
    }
  }
}

.block-slash-img {
  display: block;
  width: 43%;
}

.slash {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  max-width: none;
  max-height: none;
  z-index: -3;
}

.slash-mask {
  z-index: -1;
  transform: translate(0, 0);
}
