.block-links-container {
  padding-top: 31px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $cool-light-gray;

}

.block-links-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include responsive-min($responsive-tablet) {
    flex-direction: row;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.link-item-container {
  display: flex;
  flex-basis: 41.75%;
  margin-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
}

.link-item {
  color: $gray;
  text-decoration: underline;

  &:hover {
    color: $red;
  }
}
