.block-event-info {
  display: flex;
  margin-bottom: 40px;
  background: $white;
  border: 1px solid $cool-light-gray;
  box-shadow: -7px 16px 43px 0 rgba(76,76,78,0.10), 0 0 4px 0 rgba(76,76,78,0.10);
}

.block-event-info-column {
  flex-direction: column;
}

.block-event-info-row {
  flex-direction: column;

  @include responsive-min($responsive-laptop) {
    flex-direction: row;
    align-items: center;
  }

  .event-info-top-container {
    flex-basis: 53%;
  }

  .block-event-info-details {
    flex-basis: 47%;
    height: 100%;
  }

  .block-event-info-detail-top-container {
    @include responsive-min($responsive-laptop) {
      margin-bottom: 30px;
    }
  }

  .event-info-bottom-container {
    @include responsive-min($responsive-laptop) {
      flex-direction: column-reverse;
    }
  }

  .block-event-sponsor-link {
    @include responsive-min($responsive-laptop) {
      margin-bottom: 7px;
    }
  }

  .block-event-sponsor-links-container {
    @include responsive-min($responsive-laptop) {
      flex-direction: column;
      padding-bottom: 10px;
      border-bottom: 1px solid $light-gray;
    }
  }

  .block-event-info-details.gray,
  .block-event-info-details.white {
    @include responsive-min($responsive-laptop) {
      padding-top: 30px;
    }

    .block-event-sponsor-header {
      @include responsive-min($responsive-laptop) {
        margin-bottom: 16px;
      }
    }

    .block-event-sponsor-operated-by {
      @include responsive-min($responsive-laptop) {
        margin-bottom: 9px;
      }
    }
  }
}

.event-info-live-container {
  position: absolute;
  top: -34px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $black;
}

.event-info-live-text {
  display: flex;
  &:after {
    content: ' ';
    display: inline-block;
    margin-left: 12px;
    height: 20px;
    width: 20px;
    background-color: $green;
    border-radius: 50%;
  }
}

.block-event-counter-container {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-basis: 25%;
  height: 100%;
  @include responsive-min($responsive-laptop) {
    display: flex;
    width: 140px;
    padding-top: 10px;
    padding-bottom: 12px;
  }

  
}

.block-event-counter {
  display: none;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 13px;
  min-height: 130px;
  background-color: $black;

  @include responsive-min($responsive-laptop) {
    display: flex;
      flex-basis: auto;
  }
}

.block-event-value {
  margin-bottom: 20px;
}

.block-event-value-text {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.48px;
}

.block-event-border-right {
  border-right: 2px solid $light-gray;
}

.event-info-top-container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 288px;
}

.event-info-top-image {
  // max-width: none;
  // max-height: none;  
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.block-event-info-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 34px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  
  @include responsive-min($responsive-laptop) {
    justify-content: space-between;
    padding-top: 20px;
  }

  &.white {
    background-color: $white;
  }

  &.gray {
    min-height: 414px;
    background-color: $white;

    @include responsive-min($responsive-laptop) {
      background-color: $cool-light-gray;
    }
    
    @include responsive-min($responsive-laptop) {
      padding-top: 37px;
    }

    .block-event-sponsor-header {
      @include responsive-min($responsive-laptop) {
        margin-bottom: 10px;
      }
    }

    .block-event-sponsor-operated-by {
      @include responsive-min($responsive-laptop) {
        margin-bottom: 20px;
      }
    }
  }
}

.block-event-sponsor-header {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.48px;
  max-width: 380px;
  
  @include responsive-min($responsive-laptop) {
    margin-bottom: 5px;
    font-size: 35px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}

.block-event-sponsor-operated-by {
  margin-bottom: 26px;
  font-size: 15px;
  letter-spacing: 0.5px;
  
  @include responsive-min($responsive-laptop) {
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0;
  }
}

.block-event-sponsor-date {

}

.event-info-bottom-container {
  display: flex;
  flex-direction: column-reverse;

  @include responsive-min($responsive-laptop) {
    flex-direction: column;
  }
}

.block-event-sponsor-tickets-btn {
  margin-top: 25px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: max-content;
  font-family: $knockout;
  color: $white;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;

  @include responsive-min($responsive-laptop) {
    margin-top: 25px;
    margin-bottom: 21px;
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 32px;
  }
}

.block-event-sponsor-links-container {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;

  @include responsive-min($responsive-laptop) {
    flex-direction: row;
    margin-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.block-event-sponsor-link {
  margin-bottom: 10px;
  margin-right: 30px;
  text-decoration: none;

  @include responsive-min($responsive-laptop) {
    margin-bottom: 0;
  }
}
