.block-featured-event {
    position: relative;
    top: -40px;
    z-index: 1;
}

.block-featured-event-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: $white;
    border-radius: 2px;
    overflow: hidden;
    
    @include responsive-min($responsive-laptop) {
      flex-wrap: nowrap;
      max-width: 1030px;
      box-shadow: -7px 14px 23px 0 rgba(76,76,78,0.10);
    }
}

.block-featured-event-links-wrapper {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;

  @include responsive-min($responsive-laptop) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.block-featured-event-top-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 13px;
  padding-right: 13px;

  @include responsive-min($responsive-laptop) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 26px;
  }
}

.block-featured-event-top-left-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.block-featured-event-top-right-wrapper {
  display: flex;
  align-items: center;
}

.block-featured-event-operated-by {
  margin-top: 15px;
  margin-bottom: 15px;

  @include responsive-min($responsive-laptop) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.block-featured-event-scores {
  display: flex;
  padding-top: 31px;
  padding-bottom: 29px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  background-color: $black;

  @include responsive-min($responsive-laptop) {
    padding-left: 30px;
  }
}

.block-featured-event-scores-mobile {
  display: flex;
  padding-top: 31px;
  padding-bottom: 29px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  background-color: $black;

  @include responsive-min($responsive-laptop) {
    display: none;
  }
}

.block-featured-event-counter {
    display: none;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 29px;
    background-color: $black;

    @include responsive-min($responsive-laptop) {
      display: flex;
        flex-basis: auto;
    }
}

.block-featured-event-counter-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-basis: 25%;
    height: 100%;
    @include responsive-min($responsive-laptop) {
        width: 140px;
    }
}

.block-featured-event-border-right {
    border-right: 2px solid $light-gray;
}

.block-featured-event-info-container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 17px;
    height: auto;
    background-color: $gray;
    
    @include responsive-min($responsive-laptop) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 22px;
      padding-bottom: 22px;
      max-width: 500px;
    }
}

.block-featured-event-value {
    margin-bottom: 16px;
}

.block-featured-event-label {
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translate(-50%, 0);
}

.block-featured-event-info-date {
    margin-bottom: 10px;
}

.block-featured-event-link-container {
  padding-top: 25px;
  padding-right: 30px;
}

.block-featured-event-info-link-container {
    display: flex;
    align-items: center;
}

.block-featured-event-info-link {
    display: inline-block;
    font-size: 18px;
}

.arrow-right-large {
    margin-left: 14px;
}

.block-featured-event-sponsor-headline {
  margin-top: 22px;
  margin-bottom: 15px;

  @include responsive-min($responsive-laptop) {
    display: none;
  }
}

.block-featured-event-sponsor-type {
  margin-top: 5px;
  margin-bottom: 5px;

  @include responsive-min($responsive-laptop) {
    display: none;
  }
}

.block-featured-event-sponsors-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.block-featured-event-sponsor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 150px;
  height: 150px;
  background-color: $white;
  border: 1px solid $light-gray;

  @include responsive-min($responsive-laptop) {
    flex-basis: auto;
    width: 170px;
    height: 170px;
  }
}

.block-featured-event-sponsor-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 22px;
  padding-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: $cool-light-gray;

  @include responsive-min($responsive-laptop) {
    flex-direction: row;
    padding-bottom: 22px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $white;
  }
}

.block-featured-event-sponsor-container {
  display: flex;
  flex-direction: column;
  
  @include responsive-min($responsive-laptop) {
    display: none;
  }
}

.block-featured-event-sponsor-links-headline {
  margin-top: 10px;
  margin-bottom: 7px;
}

.block-featured-event-sponsor-link {
  margin-top: 7px;
  margin-bottom: 14px;
  text-decoration: inherit;
}

.block-featured-event-cta {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 28px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: $light-gray;
  text-decoration: none;

  @include responsive-min($responsive-laptop) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 55px;
    padding-bottom: 60px;
  }
}

.block-featured-event-cta-text {
  color: $gray;

  &:after {
    display: inline-block;
    content: ' ';
    margin-left: 18px;
    margin-bottom: 5px;
    width: 28px;
    height: 15px;
    background-image: url(../images/arrow-right-extralarge-gray.svg);
  }
}

.block-featured-event-cta:hover {
  background-color: $red;

  .block-featured-event-cta-text {
    color: $white;

    &:after {
      display: inline-block;
      content: ' ';
      margin-left: 18px;
      margin-bottom: 5px;
      width: 28px;
      height: 15px;
      background-image: url(../images/arrow-right-extralarge-white.svg);
    }
  }
}
