.block-related-posts {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;

  @include responsive-min($responsive-laptop) {
    flex-wrap: nowrap;
  }
}

.block-related-callout {
  flex-basis: 100%;
  max-width: none;

  &:first-child {
    @include responsive-min($responsive-laptop) {
      padding-right: 15px;
    }
  }

  &:last-child {
    @include responsive-min($responsive-laptop) {
      padding-left: 15px;
    }
  }

  .callout-wrapper {
    height: auto;
    min-height: auto;
  }

  .callout-thumbnail-container {
    background-color: $light-gray;
  }

  .callout-info {
    min-height: 218px;
    background-color: $cool-light-gray;
  }

  @include responsive-min($responsive-laptop) {
    flex-basis: 50%;
  }
}
