.block-hero-carousel {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.hero-carousel-media-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-color: $black;
}

.hero-carousel-image-container {
  object-fit: cover;
}

.block-hero-carousel-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  margin-left: 135px;
  width: 50%;
  min-width: 500px;
}

.hero-carousel-title {
  color: $white;
}

.hero-carousel-items-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: $full-width-wrapper;
}

.hero-carousel-item {
  overflow: hidden;
  background-color: $white;
  max-width: 370px;
  box-shadow: -7px 14px 23px 0 rgba(76,76,78,0.10);
}

.hero-carousel-item-wrapper {
  display: flex;
}

.hero-carousel-item-image-container {
  width: 140px;
  height: 140px;
}

.hero-carousel-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-carousel-item-title {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 8px;
  padding-right: 8px;
}

.hero-carousel-item-progressbar {
  background-color: $light-gray;
  height: 6px;
  width: 100%;
}
