.championship-archive-top-container {
  margin-bottom: 40px;
  max-width: 770px;
}

.championship-archive-title {
  margin-bottom: 40px;
}

.championship-name {
  margin-bottom: 40px;
}

.championship-event-container {
  border-bottom: 1px solid $light-gray;

  &:last-child {
    border-bottom: none;
  }
}

.championship-event-wrapper {
  border: 1px solid $light-gray;
}

.championship-event-title-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;

  @include responsive-min($responsive-tablet) {
    cursor: initial;
  }
}

.championship-event-trigger {
  display: none;
  cursor: pointer;
  text-decoration: underline;
  
  @include responsive-min($responsive-tablet) {
    display: block;
  }

  &:hover {
    color: $red;
  }
}

.championship-event-trigger-mobile {
  position: absolute;
  right: 20px;
  transform: translateY(50%);

  @include responsive-min($responsive-tablet) {
    display: none;
  }
}

.championship-event-container.active {
  .championship-event-title-container {
    background-color: $cool-light-gray;
    border-bottom: none;
  }

  .championship-event-name {
    color: $black;
  }

  .championship-events-container {
    display: flex;
  }

  .championship-event-trigger-mobile {
    transform: translateY(50%) rotate(180deg);
  }
}

.championship-events-list-container {
  background-color: $cool-light-gray;
}

.championship-events-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 22px;
  margin-right: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 28px;
  padding-right: 0;
  border-top: 1px solid $light-gray;


    @include responsive-min($responsive-tablet) {
      flex-direction: row;
    }
}

.championship-match-name {
  margin-bottom: 12px;

  @include responsive-min($responsive-tablet) {
    margin-bottom: 0;
  }
}

.championship-match-links-container {
  display: flex;
}

.championship-match-link {
  color: $gray;

  &:hover {
    color: $red;
  }
}
