// Desktop Styles
.block-sponsors {
  padding: 3rem 8rem;
  font-family: 'knockout';

  .content {
    max-width: 1170px;

    h2 {
      font-size: 2rem;
    }
  
    .sponsors-section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 100%;
      position: relative;
      
      .sponsor-container {
        flex: 1 1 185px;
        max-height: 310px;
        display: flex;
        padding: 1.25rem 0;
        flex-direction: column;
        justify-content: flex-end;
  
        h3 {
          font-size: 1.25rem;
          padding-bottom: 1rem;
          white-space: nowrap;
        }

        a {
          text-decoration: none;
          color: $red;
        }
  
        .sponsor {
          background-color: white;
          width: 170px;
          height: 170px;
          -webkit-box-shadow: 0px 0px 1px 0px #ccc;
          -moz-box-shadow: 0px 0px 1px 0px #ccc;
          box-shadow: 0px 0px 1px 0px #ccc;
          display: flex;
          align-items: center;
    
          img {
            width: auto;
            height: auto;
            max-width: 125px;
            max-height: 125px;
            margin: 0 auto;
          }
        }
      }

      .content-left-aligned {
        margin: 0 auto 0 0;
      }
      
      .content-centered {
        margin: 0 auto 0 auto;
      }
      
      .content-right-aligned {
        margin: 0 0 0 auto;
      }

      .has-title-and-link {
        h3 {
          padding-bottom: 0;
        }

        a {
          padding-bottom: 1.25rem;
        }
      }

      .has-title-and-link ~ .has-title {
        h3 {
          padding-bottom: 3rem;
        }
      }
    }
  
    .cta-section {
      width: 48%;
      display: flex;
      justify-content: space-between;
  
      .cta-link {
        color: $red;
        text-decoration: none;
        font-style: normal;
        line-height: 1.75rem;
        font-size: 1rem;
        font-family: 'knockout';
        
        b {
          margin-left: 0.25rem;
        }
      }
    }

    .sponsors-section.one-column {
      max-width: 28.5%;
    }
    
    .sponsors-section.two-columns {
      max-width: 42.5%;
    }
    
    .sponsors-section.three-columns {
      max-width: 57.5%;
    }
    
    .sponsors-section.four-columns {
      max-width: 72.5%;
    }
    
    .sponsors-section.five-columns {
      max-width: 86.5%;
    }
  }
}

.has-grey-bg {
  background-color: $cool-light-gray;
}

.has-white-bg {
  background-color: white;
}

.title-and-link-exist {
  .sponsors-section {
    margin-top: 6rem;
  }
}

// Mobile styles
@include responsive-min($responsive-tablet) {
  
}

      // No current way to fix the previous sibling in css
      // .has-title + .has-title {
      //   h3 {
      //     padding-bottom: 1rem;
      //   }
      // }