
p.item-label{
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 6px 8.5px;
  font-size: 12px;
  background-color: $gray;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-family: $knockout; 
  border-radius: 2px;
  @include responsive-max( $full-width-max - 2 ) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

