.block-callout {
  &:last-of-type {
    .callout-wrapper-row {
      border-bottom: none;
    }
  }
}

.callout-colour-white {
  background-color: $white;
}

.callout-colour-gray {
  background-color: $cool-light-gray;
}

.callout-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
  margin-bottom: 11px;
  height: 100%;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
  min-height: 506px;
}

.callout-wrapper-row {
  /*flex-direction: row;*/
  margin-top: 0;
  margin-bottom: 0;
  min-height: 250px;
  box-shadow: none;

  .callout-thumbnail-container {
    height: auto;
    flex-basis: 41%;
  }

  .callout-info {
    flex-basis: 59%;
    justify-content: flex-start;
  }
}

.callout-thumbnail-container {
  height: 288px;
  border-top: 1px solid $cool-light-gray;
  border-left: 1px solid $cool-light-gray;
  border-right: 1px solid $cool-light-gray;
}

.callout-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $white;
}

.callout-info {
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 21px;
  padding-right: 21px;
  min-height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.callout-info-small {
  padding-top: 20px;
}

.callout-info-medium {
  padding-top: 30px;
}

.callout-info-large {
  padding-top: 20px;

  .callout-link {
    margin-top: 5px;
  }
}

.callout-title {
  margin-bottom: 17px;
}

.callout-title-small {
  max-width: 50%;
}

.callout-title-medium {
  max-width: 70%;
}

.callout-title-large {
  max-width: 100%;
}

.callout-excerpt {
  padding-bottom: 10px;
}

.callout-link {
  margin-top: 12px;
}
