.block-prefooter {
  position: relative;
}

.block-prefooter-simple {
  border-top: 1px solid $light-gray;

  .block-prefooter-info {
    padding-top: 36px;
    padding-bottom: 98px;
    margin-right: auto;
    max-width: 770px;
    width: 100%;
    
    @include responsive-min($responsive-tablet) {
      margin-left: auto;
      padding-top: 45px;
      padding-bottom: 63px;
      text-align: center;
    }
  }

  .block-prefooter-info-body {
    margin-top: 41px;
    margin-bottom: 37px;
    color: $black;

    @include responsive-min($responsive-tablet) {
      margin-top: 32px;
    }
  }

  .block-prefooter-info-btns {
    justify-content: center;
  }
}

.block-prefooter-gray {
  border-top: none;
  background-color: $cool-light-gray;
}

.block-prefooter-content {
  // justify-content: flex-end;
}

.block-prefooter-info {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 122px;
  padding-bottom: 161px;
  padding-left: 11px;
  padding-right: 11px;
  z-index: 2;
  
  @include responsive-min($responsive-tablet) {
    padding-top: 200px;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    max-width: 570px;
  }
}

.block-prefooter-info-left {
  @include responsive-min($responsive-tablet) {
    margin-left: auto;
    margin-right: 41.5%;
    padding-bottom: 150px;
  }
}

.block-prefooter-info-right {
  @include responsive-min($responsive-tablet) {
    margin-left: 46.8%;
    margin-right: auto;
    padding-bottom: 100px;
  }
}

.block-prefooter-info-body {
  margin-top: 29px;
  margin-bottom: 17px;
  padding-left: 9px;
  color: $white;
  @include responsive-min($responsive-tablet) {
    margin-top: 22px;
    margin-bottom: 28px;
    padding-left: 0;
  }
}

.block-prefooter-info-btns {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;

  @include responsive-min($responsive-tablet) {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }

  .block-prefooter-info-btn {
    max-width: 230px;
    @include responsive-min($responsive-tablet) {
      max-width: none;
    }
  }

  .block-prefooter-info-btn:nth-child(1) {
    margin-bottom: 10px;

    @include responsive-min($responsive-tablet) {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  .block-prefooter-info-btn:nth-child(2) {
    margin-top: 10px;

    @include responsive-min($responsive-tablet) {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}

.block-prefooter-img-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -2;
}

.block-prefooter-img-left {
  .block-prefooter-img {
    margin-right: auto;
  }
}

.block-prefooter-img-right {
  .block-prefooter-img {
    margin-left: auto;
  }
}

.block-prefooter-img {
  display: none;
  max-width: none;


  @include responsive-min($responsive-tablet) {
    display: block;
    width: 43%;
  }
}

.prefooter-slash-container {
  position: absolute;
  bottom: 0;
}

.prefooter-slash {
  position: absolute;
  left: 50%;
  transform: translate(0, -100%);
  width: 1440px;
  max-width: none;
  max-height: none;
  z-index: -3;
}

.prefooter-slash-tlbr {
  bottom: -175px;

  @include responsive-min($responsive-tablet) {
    bottom: -375px;
  }
}

.prefooter-slash-iltr {
  bottom: -205px;

  @include responsive-min($responsive-tablet) {
    bottom: -585px;
  }
}

.prefooter-slash-mask {
  transform: translate(0, calc(-100% + -10px));
  z-index: -1;
}

.prefooter-slash-2 {
  display: none;
  // transform: translate(-50%, -1165px);
  // bottom: -230px;

  @include responsive-min($responsive-tablet) {
  }
}
