.block-download-item-callout {
  background-color: $light-gray;
}

.download-item-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 100px;
  @include responsive-max($responsive-laptop) {
    flex-direction: column;
    padding-right: 30px;
    .btn-large {
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 2px;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 25px;
      margin-top: 10px;
    }
  }
}

.download-item-title {
  margin-bottom: 0;
}

.download-item-btn {
  // background-color: $red;
}
