.block-schedule-links {
  @include responsive-min($responsive-laptop) {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 100px;
  }
}

.schedule-links-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $gray;
  max-width: 470px;
}

.schedule-link-item {
  flex-basis: 50%;
  padding-bottom: 20px;
}

.schedule-link-text {
  text-decoration: underline;
}
