html {
    box-sizing: border-box;
    font-size: 100%;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    color: $black;
    font-family: $knockout;
}

body {
  overflow: visible;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: '"liga", "dlig"';
    -ms-font-feature-settings: '"liga", "dlig"';
    -webkit-font-feature-settings: '"liga", "dlig"';
    font-feature-settings: '"liga", "dlig"';
}

a.clear {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.text-highlight {
    font-family: $knockout;
    font-size: 126px;
    letter-spacing: 1.94px;
    line-height: 126px;
    color: $black;
    text-transform: uppercase;
    @include responsive-min($responsive-laptop) {
      font-size: 140px;
      letter-spacing: 3.08px;
      line-height: 160px;
    }
}

h1 {
    font-family: $knockout;
    color: $black;
    font-size: 80px;
    line-height: 64px;
    letter-spacing: 0.63px;
    font-weight: 300;
    text-transform: uppercase;
    @include responsive-min($responsive-laptop) {
      font-size: 120px;
      line-height: 104px;
      letter-spacing: 0.95px;
    }
}

h2 {
    font-family: $knockout;
    color: $black;
    font-size: 50.4px;
    letter-spacing: 0.5px;
    line-height: 50.4px;
    font-weight: 300;
    text-transform: uppercase;
    @include responsive-min($responsive-laptop) {
      font-size: 60px;
      letter-spacing: 0.6px;
      line-height: 52px;
    }
}

h3 {
    font-family: $knockout;
    color: $black;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 300;
    text-transform: uppercase;
    @include responsive-min($responsive-laptop) {
      font-size: 35px;
      letter-spacing: 1px;
      line-height: 32px;
    }
}

h4 {
    font-family: $knockout;
    font-size: 20px;
    color: $black;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    @include responsive-min($responsive-laptop) {
    }
}

.quotes {
    font-family: $meta-serif-pro;
    font-size: 35px;
    color: $black;
    letter-spacing: 0.54px;
    line-height: 40px;
}

p {
    font-family: $meta-serif-pro;
    line-height: 18px;
    letter-spacing: 0;
    font-size: 14px;
    color: $black;
    
    @include responsive-min($responsive-laptop) {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
    }

    a{
        font-style: normal;
        text-decoration: underline;
        color: $black;

        &:hover {
            cursor: pointer;
            color: $red;
        }
    }
}

.wp-block-table > tbody > tr > td {
  font-family: $meta-serif-pro;
  line-height: 18px;
  letter-spacing: 0;
  font-size: 14px;
  color: $black;
  
  @include responsive-min($responsive-laptop) {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }

  a{
    font-style: normal;
    text-decoration: underline;
    color: $black;

    &:hover {
      cursor: pointer;
      color: $red;
    }
  }
}

.subdomain {
  font-family: $knockout;
  font-size: 18px;
  color: $black;
  letter-spacing: 0.3px;
  font-weight: 300;
  line-height: 21px;
  text-transform: uppercase;
}

li {
    font-family: $meta-serif-pro;
    line-height: 18px;
    letter-spacing: 0;
    font-size: 14px;
    color: $black;
    
    @include responsive-min($responsive-laptop) {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
    }
}

.inverted {
    color: $white;
}

.cool-gray {
  color: $cool-light-gray;
}

.gray {
    color: $gray;
}

.red {
  color: $red;
}

.desktop {
  @include responsive-max($responsive-laptop){
    display: none;
  }
}

.mobile {
  @include responsive-min($responsive-laptop){
    display: none;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.p1 {
  padding: 10px 0;
}
