html {
    box-sizing: border-box;
    font-size: 100%;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    color: $white;
    font-family: $knockout;

    // TODO: TEMP
    background-color: $white;
    background-image: linear-gradient(45deg, $off-white 25%, transparent 25%, transparent 75%, $off-white 75%, $off-white),
    linear-gradient(45deg, $off-white 25%, transparent 25%, transparent 75%, $off-white 75%, $off-white);
    background-size: 120px 120px;
    background-position: 0 0, 60px 60px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.content {
    font-size: 0;
    line-height: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: '"liga", "dlig"';
    -ms-font-feature-settings: '"liga", "dlig"';
    -webkit-font-feature-settings: '"liga", "dlig"';
    font-feature-settings: '"liga", "dlig"';
}

img {
    max-width: 100%;
    max-height: 100%;
}

.highlight {
    font-family: $knockout;
    font-size: 200px;
    color: $black;
    letter-spacing: 3.08px;
    // line-height: 160px;
    text-transform: uppercase;
}

h1 {
    font-family: $knockout;
    font-size: 120px;
    color: $black;
    letter-spacing: 0.95px;
    line-height: 104px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-family: $knockout;
    font-size: 60px;
    color: $black;
    letter-spacing: 0.6px;
    line-height: 36px;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-family: $knockout;
    font-size: 35px;
    color: $black;
    letter-spacing: 1px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

h4 {
    font-family: $knockout;
    font-size: 20px;
    color: $black;
    letter-spacing: 1px;
    line-height: 26px;
    font-weight: 300;
    text-transform: uppercase;
}

.quotes {
    font-family: $meta-serif-pro;
    font-size: 35px;
    color: $black;
    letter-spacing: 0.54px;
    line-height: 40px;
}

p {
    font-family: $meta-serif-pro;
    font-size: 16px;
    color: $black;
    letter-spacing: 0;
    line-height: 20px;

    a{
        font-style: italic;
        text-decoration: underline;

        &:hover {
            cursor: pointer;
            color: $pink;
        }
    }
}

li {
    font-family: $meta-serif-pro;
    font-size: 20px;
    color: $black;
    letter-spacing: 0;
    line-height: 23px;
}

.inverted {
    color: $white;
}

.gray {
    color: $gray;
}
