/**
 * Primary Palette
 */
$black: #000000;
$white: #ffffff;
$red: #ed1940;
$grey: #4c4c4e;
$cool-grey: #4c4c4e;

/**
 * Secondary Palette
 */
$light-grey: #d8d8d8;
$cool-light-grey: #f2f2f2;
$off-white: #fefefe;

$yellow: #fff26e;
$pink: #f16682;