@font-face {
    font-family: "Knockout";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Knockout-49Liteweight_gdi.woff");
}

@font-face {
    font-family: "Meta Serif Pro";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/MetaSerifPro-Book_gdi.woff");
}

@font-face {
    font-family: "Adobe Garamond Pro";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Adobe Garamond Pro.woff");
}

