@font-face {
    font-family: "Knockout";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Knockout-49Liteweight_gdi.woff");
}

@font-face {
    font-family:'Knockout-49';
    src: url("../fonts/Knockout-49Liteweight_gdi.woff");/*
	src: url('fonts/Knockout-49Liteweight_gdi.eot');
	src: url('fonts/Knockout-49Liteweight_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Knockout-49Liteweight_gdi.woff') format('woff'),
		url('fonts/Knockout-49Liteweight_gdi.ttf') format('truetype'),
		url('fonts/Knockout-49Liteweight_gdi.svg#Knockout-49Liteweight') format('svg');*/
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
    font-family: "Meta Serif Pro";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/MetaSerifPro-Book_gdi.woff");
}

@font-face {
    font-family: "Adobe Garamond Pro";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Adobe Garamond Pro.woff");
}

