$knockout: "Knockout";
$meta-serif-pro: "Meta Serif Pro";
$adobe-garamond-pro: "Adobe Garamond Pro";
// Padding
$full-width-max: 1440px;
$full-width-wrapper: 1170px;
$small-width-wrapper: 840px;
$fixed-width-xlg: 1200px;
$fixed-width-lg: 1080px;

$responsive-desktop-wide: 1440px;
$responsive-desktop: 1200px;
$responsive-laptop: 998px;
$responsive-tablet: 768px;
$responsive-mobile: 480px;

$fixed-padding-left-lg: 20px;
$fixed-padding-right-lg: 20px;

// Animations
$fade-animation-duration: 0.25s;