$knockout: "Knockout";
$meta-serif-pro: "Meta Serif Pro";
$adobe-garamond-pro: "Adobe Garamond Pro";
// Padding
$full-width-max: 1440px;
$fixed-width-lg: 1080px;
$fixed-padding-left-lg: 20px;
$fixed-padding-right-lg: 20px;

// Responsive
$responsive-md: 778px;

// Animations
$fade-animation-duration: 0.25s;