.block-accordion-container {
  padding-top: 22px;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  border-left: 1px solid $light-gray;

  &:last-of-type {
    border-right: 1px solid $light-gray;
  }

  &.active {
    .accordion-container-content {
      display: block;
    }

    .accordion-container-border {
      border-bottom: 1px solid $light-gray;
    }
  }
}

.accordion-container-border {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: none;
}

.accordion-container-top {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  // border-bottom: 1px solid $cool-light-gray;
}

.accordion-container-content {
  display: none;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  // padding-left: 20px;
  // padding-right: 80px;

  > body, > h1, > h2, > h3, > h4, > h5, > h6, > p, > ol, > ul {
    margin-bottom: 1.33em;
  }
}

.download-item-left {
  display: flex;
  align-items: center;
}

.accordion-container-links {
  display: flex;
}

.accordion-container-link {
  padding-left: 10px;
  padding-right: 10px;
}

.accordion-container-close {
  position: absolute;
  top: 10px;
  right: 28px;
}