.featured-indicator {
  display: inline-block;
  margin-bottom: 11px;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $gray;
  border-radius: 2px;
}

.featured-indicator-text {
  font-family: $knockout;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 12px;
  line-height: 14px;
}

.arrow-right-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &:after {
    display: inline-block;
    content: ' ';
  }
}

.arrow-right-small-red-open:after {
  display: inline-block;
  content: ' ';
  margin-left: 10px;
  margin-bottom: 0;
  width: 13px;
  min-width: 13px;
  height: 6px;
  background-image: url(../images/arrow-right-small-red-open.svg);
}

.arrow-right-large-cool-gray:after {
  display: inline-block;
  content: ' ';
  margin-left: 15px;
  margin-bottom: 2px;
  width: 19px;
  min-width: 19px;
  height: 10px;
  background-image: url(../images/arrow-right-large-cool-gray.svg);
}

.arrow-right-extralarge-white:after {
  display: inline-block;
  content: ' ';
  margin-left: 18px;
  margin-bottom: initial;
  width: 28px;
  min-width: 28px;
  height: 15px;
  background-image: url(../images/arrow-right-extralarge-white.svg);
}

.arrow-right-large-gray:after {
  display: inline-block;
  content: ' ';
  margin-left: 15px;
  margin-bottom: 2px;
  width: 18px;
  min-width: 18px;
  height: 10px;
  background-image: url(../images/arrow-right-large-gray.svg);
}

.arrow-right-large-red:after {
  display: inline-block;
  content: ' ';
  margin-left: 10px;
  margin-bottom: 2px;
  width: 19px;
  min-width: 19px;
  height: 10px;
  background-image: url(../images/arrow-right-large-red.svg);
}

.wp-block-column > ul > li {
  margin-left: 20px;
  margin-bottom: 20px;
  list-style-type: none;

  &:before {
    position: relative;
    left: -25px;
    content: '-';
    font-family: $meta-serif-pro;
    font-size: 20px;
    color: $black;
    letter-spacing: 0;
    line-height: 23px;
  }
}

.block-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $fixed-padding-left-lg;
  padding-right: $fixed-padding-right-lg;
  max-width: 1210px;

  .wp-block-table > tbody > tr > td {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .wp-block-cossette-block-container > {
    h1, h2, h3, h4, p, ul, li {
      &.nomargin {
        margin-bottom: 0;
      }
    }
    h1, h2 {
      margin-bottom: 70px;
    }
    
    h3, h4 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }

    ul > li {
      margin-left: 20px;
      margin-bottom: 20px;
      list-style-type: none;

      &:before {
        position: relative;
        left: -18px;
        content: '-';
        font-family: $meta-serif-pro;
        font-size: 20px;
        color: $black;
        letter-spacing: 0;
        line-height: 23px;
      }

      a {
        color: $black;
        &:hover {
          color: $red;
        }
      }
    }
  }

  .narrow-width {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 970px;
  }
}

.block-admin {
  background-color: $cool-light-gray;
}

.block-column  {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: $fixed-padding-left-lg;
  padding-right: $fixed-padding-right-lg;



  &.column-smallwidth {
    margin-left: auto;
    margin-right: auto;
    max-width: 1210px;

    .wp-block-table > tbody > tr > td {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &.column-fullwidth {
    margin-left: auto;
    margin-right: auto;
    max-width: $full-width-wrapper;
  }

  &.column-sidebar.column-50-50 .wp-block-cossette-block-column-2 > .wp-block-columns > .wp-block-column:last-child {
    @include responsive-min($responsive-laptop) {
      position: absolute;
      right: 0;
      width: 50%;
    }
  }

  &.column-sidebar.column-84-16 .wp-block-cossette-block-column-2 > .wp-block-columns > .wp-block-column:last-child {
    @include responsive-min($responsive-laptop) {
      position: absolute;
      right: 0;
      width: 16%;
    }
  }

  &.column-sidebar.column-33-66 .wp-block-cossette-block-column-2 > .wp-block-columns > .wp-block-column:last-child {
    @include responsive-min($responsive-laptop) {
      position: absolute;
      right: 0;
      width: 66%;
    }
  }

  .wp-block-cossette-block-column-2 > .wp-block-columns,
  .wp-block-cossette-block-column-3 > .wp-block-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    
    @include responsive-min($responsive-laptop) {
      flex-direction: row;
    }

    > {
      .wp-block-column {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        @include responsive-min($responsive-laptop) {
          margin-left: 15px;
          margin-right: 15px;
        }
      }

      .wp-block-column:first-child {
        @include responsive-min($responsive-laptop) {
          margin-left: 0;
        }
      }

      .wp-block-column:last-child {
        @include responsive-min($responsive-laptop) {
          margin-right: 0;
        }
      }
    }
  }
  
  &.column-50-50 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
      .wp-block-column:first-child {
        flex-basis: 50%;
      }
      .wp-block-column:last-child {
        flex-basis: 50%;
      }
    }
  }

  &.column-16-84 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
       .wp-block-column:first-child {
        flex-basis: 16%;
      }
      .wp-block-column:last-child {
        flex-basis: 84%;
      }
    }
  }

  &.column-84-16 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
       .wp-block-column:first-child {
        flex-basis: 84%;
      }
      .wp-block-column:last-child {
        flex-basis: 16%;
      }
    }
  }

  &.column-66-33 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
       .wp-block-column:first-child {
        flex-basis: 66.66666%;
      }
      .wp-block-column:last-child {
        flex-basis: 33.33333%;
      }
    }
  }

  &.column-33-66 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
       .wp-block-column:first-child {
        flex-basis: 33.33333%;
      }
      .wp-block-column:last-child {
        flex-basis: 66.66666%;
      }
    }
  }

  &.column-25-75 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
       .wp-block-column:first-child {
        flex-basis: 25%;
      }
      .wp-block-column:last-child {
        flex-basis: 75%;
      }
    }
  }

  &.column-75-25 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
       .wp-block-column:first-child {
        flex-basis: 75%;
      }
      .wp-block-column:last-child {
        flex-basis: 25%;
      }
    }
  }

  &.equal-height {
    > .wp-block-cossette-block-column-2 > .wp-block-columns,
    > .wp-block-cossette-block-column-3 > .wp-block-columns {
      .wp-block-column {
        flex: 1;
        &:first-child {
          @include responsive-min($responsive-laptop) {
            margin-left: 0;
          }
        }
        &:last-child {
          @include responsive-min($responsive-laptop) {
            margin-right: 0;
          }
        }
        > div[class^="block-"]:only-child,
        > section[class^="block-"]:only-child {
          height: 100%;

          @include responsive-min($responsive-laptop) {
            margin: 0;
          }
        }
      }
    }
  }
}
