.featured-indicator {
  display: inline-block;
  margin-bottom: 11px;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $gray;
  border-radius: 2px;
}

.featured-indicator-text {
  font-family: $knockout;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 12px;
  line-height: 14px;
}

.block-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1210px;
}

.block-column  {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;

  &.column-smallwidth {
    margin-left: auto;
    margin-right: auto;
    max-width: 1210px;
  }

  &.column-sidebar .wp-block-cossette-block-column-2 > .wp-block-columns > .wp-block-column:last-child {
    @include responsive-min($responsive-laptop) {
      position: absolute;
    }
  }

  .wp-block-cossette-block-column-2 > .wp-block-columns,
  .wp-block-cossette-block-column-3 > .wp-block-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @include responsive-min($responsive-laptop) {
      flex-direction: row;
    }

    > {
      .wp-block-column {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
      }

      .wp-block-column:first-child {
        @include responsive-min($responsive-laptop) {
          padding-right: 15px;
        }
      }

      .wp-block-column:last-child {
        @include responsive-min($responsive-laptop) {
          padding-left: 15px;
        }
      }
    }
  }
  
  &.column-50-50 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
      .wp-block-column:first-child {
        flex-basis: 50%;
      }
      .wp-block-column:last-child {
        flex-basis: 50%;
      }
    }
  }

  &.column-84-16 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
       .wp-block-column:first-child {
        flex-basis: 84%;
      }
      .wp-block-column:last-child {
        flex-basis: 16%;
      }
    }
  }

  &.column-33-66 > .wp-block-cossette-block-column-2 > {
    .wp-block-columns > {
       .wp-block-column:first-child {
        flex-basis: 33.33333%;
      }
      .wp-block-column:last-child {
        flex-basis: 66.66666%;
      }
    }
  }
}
