.content {
  margin-left: auto;
  margin-right: auto;
}

.content-padding {
  padding-left: $fixed-padding-left-lg;
  padding-right: $fixed-padding-right-lg;
}

.content-fixed {
  margin-left: auto;
  margin-right: auto;
  max-width: $full-width-max;
}

.content-full-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $full-width-wrapper;
}

.content-small-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $small-width-wrapper;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $fixed-width-xlg;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content-anchor {
  position: relative;
}

.content-post {
  margin-top: 80px;
}

.content-social-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
}

.content-social-share {
  margin-top: 10px;
}

.content-sidebar-container {
  padding-right: 15px;
  min-width: 285px;
}

.content-main-container {
  padding-left: 15px;
  width: 100%;
}

.content-fixed-padding {
  padding-left: 116px;
  padding-right: 116px;
}

.post-content {
  margin-bottom: 48px;
}

.block-column.no-padding {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.xdebug-error {
  font-size: 24px;
  line-height: normal;
  color: $black;
  th {
    background-color: $gray !important;
  }
}

.post-password-form {
  padding: 100px;
}

.wp-block-media-text__media img {
  max-height: none;
  max-width: none;
}
