.footer-gray {
    .footer-wrapper {
        background-color: $gray;
    }

    .menu-item-selectable:hover .menu-item-content {
        color: #ed1940;
    }
}

.footer-legal-gray {
    .footer-legal-wrapper {
        background-color: $gray;
    }

    .menu-item-selectable:hover .menu-item-content {
        color: #ed1940;
    }
}

.footer-logo {
    margin-top: 11px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 60px;
    align-items: flex-start;
    background-color: $gray;
    color: $white;
    max-height: 347px;
}

.footer-content-left-wrapper {
    padding-left: 19px;
    width: 137px;
}

.footer-content-centre-wrapper {
    width: 610px;
}

.footer-content-right-wrapper {
    width: 470px;
}

.newsletter-signup-title {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 14px;
}

.newsletter-signup-input {
    width: 340px;
    height: 40px;
}

.newsletter-signup-submit {
    margin-left: 20px;
}

.footer-nav-menu  {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 110px;
    padding-right: 110px;
}

.footer-menu-item {
    width: 50%;
}

.footer-nav-menu-social {
    padding-top: 34px;
}

.menu-item-social {
    // width: 21px;
    margin-right: 21px;
}

.footer-legal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $light-gray;
}

.legal {
    color: $light-gray;
}
