.footer-gray {
  background-color: $gray;

  .menu-item-selectable:hover .menu-item-content {
    color: #ed1940;
  }
}

.footer-legal-gray {
  .footer-legal-wrapper {
    background-color: $gray;
  }

  .menu-item-selectable:hover .menu-item-content {
    color: #ed1940;
  }
}

.footer-logo {
  width: 46px;
  margin-top: 11px;
  @include responsive-min($responsive-laptop) {
    width: 90px;
  }
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 29px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    color: $white;
    @include responsive-min($responsive-laptop) {
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 60px;
      max-width: 1170px;
    }
}

.footer-content-left-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;

  @include responsive-min($responsive-laptop) {
    flex-grow: 1;
    flex-shrink: 0.3;
    flex-basis: 0%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-content-centre-wrapper {
  @include responsive-min($responsive-laptop) {
    flex-grow: 1;
    flex-shrink: 0.3;
    flex-basis: 32%;
  }
}

.footer-content-right-wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  @include responsive-min($responsive-laptop) {
    flex-grow: 1;
    flex-shrink: 0.3;
    flex-basis: 33%;
    flex-direction: column;
    padding-left: 18px;
    padding-right: 18px;
    width: auto;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  max-width: 315px;

  @include responsive-min($responsive-laptop) {
    flex-direction: row;
    max-width: none;
  }
  .newsletter-signup-submit {
    max-width: 100px;
  }
}

.newsletter-signup-input {
  flex-grow: 1;
  border-radius: 3px;
  border: none;
}


.newsletter-signup-title {
    padding-top: 20px;
    padding-bottom: 17px;
    font-size: 16px;
    line-height: 14px;
    
    @include responsive-min($responsive-laptop) {
      padding-top: 12px;
      padding-bottom: 12px;
    }
}

.newsletter-signup-input, .footer-content-right-wrapper .wpcf7-text {
    height: 40px;
    border: none;
    border-radius: 3px;
  @include responsive-min($responsive-desktop-wide) {
    width: 350px;
  }
}

.newsletter-signup-submit, .footer-content-right-wrapper .wpcf7-submit {
  @extend .btn; 
  @extend .btn-small; 
  @extend .btn-red;
  font-family: $knockout;
  font-size: 20px;
  margin-top: 10px;
  @include responsive-min($responsive-laptop) {
    margin-top: 0;
    margin-left: 20px;
  }
}

.footer-nav-menu  {
  flex-direction: column;
  flex-wrap: nowrap;
  @include responsive-min($responsive-laptop) {
    flex-direction: row;
    flex-wrap: wrap;
    // padding-left: 110px;
    // padding-right: 110px;
  }
}

.footer-menu-item.menu-item {
  padding-left: 0;
  padding-right: 0;
  @include responsive-min($responsive-laptop) {
    padding-left: 19px;
    padding-right: 19px;
    width: 50%;
  }
}

.footer-nav-menu-social {
    padding-top: 34px;
    padding-bottom: 30px;
    border-bottom: 1px solid $light-gray;

    @include responsive-min($responsive-laptop) {
      padding-bottom: 0;
      border-bottom: none;
    }
}

.menu-item-social {
    // width: 21px;
    margin-right: 21px;
}

.footer-legal-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
    border-top: 1px solid $light-gray;
    @include responsive-min($responsive-laptop) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      padding-top: 22px;
      padding-bottom: 31px;
      max-width: 1170px;
    }
}

.legal {
    color: $light-gray;
}

.footer-legal-content-left-wrapper {
  padding-top: 24px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  @include responsive-min($responsive-laptop) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
