
.header-red {
  .nav-menu-top-right-mobile {
    background-color: $red;
  }

  .menu-item-selectable:hover {
    .menu-item-content {
      color: $red;
    }
  }

  .menu-item-donate {
    background-color: $red;
    .menu-item-title {
      color: $white;
    }
    &:hover {
      .menu-item-title {
          color: $white;
      }
    }
  }

  .nav-menu-top-wrapper {
    background-color: $white;
    color: $gray;

    .menu-item {
      .menu-item-title {
        color: $gray;
      }
    }

    .menu-item:hover { 
      .menu-item-title {
        color: $red;
      }
    }
  }

  .menu-item-selected {
    color: $red;
  }

  .nav-menu-primary {
    background-color: $red;
    color: $white;

    .menu-item {
      .menu-item-title {
        color: $white;
      }
    }

    .menu-item.active {
      background-color: $white;
      .menu-item-title {
        color: $gray;
      }
    }

    .menu-item .menu-item-title.menu-item-selected {
      color: $gray;
    }
  }
}
  