.content-fixed {
    margin-left: auto;
    margin-right: auto;
    max-width: $full-width-max;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: $white;
    color: $black;
}

.content-fixed-padding {
    padding-left: 116px;
    padding-right: 116px;
}

.content .xdebug-error {
    font-size: 24px;
    line-height: normal;
    color: $black;
    th {
        background-color: $gray!important;
    }
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}