@keyframes expand {
    from {margin-left: 8px;}
    to {margin-left: 16px;}
}

.btn {
    padding: 16px 52px 14px;
    background: none;
    cursor: pointer;
    display: inline-block;
    border: none;
    background-color: $red;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: $knockout;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    @include font-size(20px);
    max-width: 100%;
    white-space: normal;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    img {
        margin-left: 14px;
        vertical-align: middle;
    }

    &:hover {
        background-color: $yellow;
        color: $black;
        cursor: pointer;
    }
}

.btn-small {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}

.btn-large {
  padding-top: 19px;
  padding-bottom: 26px;
  border-radius: 2px;
  font-size: 33px;
  letter-spacing: 2px;
  line-height: 33px;
  
  @include responsive-min($responsive-desktop-wide) {
    padding-left: 75px;
    padding-right: 75px;  
  }
}

.btn-red {
    background-color: $red;
    color: $white;
}

.btn-white {
  background-color: $white;
  color: $black;
}

.btn-black {
    background-color: $black;
    color: $white;
}

.btn-gray {
    background-color: $gray;
    color: $white;
}

.btn-yellow {
    background-color: $yellow;
    color: $black;
}

.btn-secondary {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 23px;

    span {
        position: relative;
    }

    &:after {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        content: '';
        cursor: pointer;
        height: 3px;
        background: #F16681;
        -webkit-transition: all 150ms;
        -o-transition: all 150ms;
        transition: all 150ms;
        width: 30px;
    }

    &:hover {
        display: block;
        cursor: pointer;

        span:before,
        span:after {
            display: block;
            position: absolute;
            right: -41px;
            height: 3px;
            width: 15px;
            opacity: 1;
            content: '';
            background: $pink;
            -webkit-transition: all 150ms;
            -o-transition: all 150ms;
            transition: all 150ms;
        }

        span:before {  
            top: calc(50% - 6px);
            -webkit-transform: rotate(40deg);
            -ms-transform: rotate(40deg);
            transform: rotate(40deg);
        }

        span:after {
            top: calc(50% + 4px);
            -webkit-transform: rotate(-40deg);
            -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
        }
    }
}

.btn-inverted {
    color: $white;
}

.btn-link {
  display: flex;
  align-items: center;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    .btn-link-arrow {
        margin-left: 16px;
        /*
        animation-name: expand;
        animation-duration: .2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        */
    }
  }
}

.btn-link-text {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.3px;
  white-space: nowrap;
}

.btn-link-arrow {
  margin-left: 8px;
  transition: margin-left 0.2s ease-out;
}