/** Club Locator - search fields **/
.wpgmza-store-locator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding-left: 20px;
    max-width: 675px;
    margin-top: 20px;
    /*
    .wpgmza_sl_radius_div {
        visibility: hidden;
    }
    */

    .wpgmza_sl_query_div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .wpgmza-form-field__input.addressInput {
            max-width: 400px;
            height: 42px;
            padding-left: 20px;
            flex-basis: 100%;
            &:focus {
              outline: none;
            }
        }
        .map-switcher {
            display: flex;
            flex-direction: row;
            
            .listview-button, .mapview-button{
                cursor: pointer;
                padding: 8px 30px 8px;
                color: #000;
                background-color: #FFF;
                border: 1px solid #979797;
                font-family: "Knockout";
                text-transform: uppercase;
                line-height: 26px;

                &.selected{
                    background-color: #ED1940;
                    color: #FFF;
                    cursor: unset;
                }
            }
        }
    }

    .wpgmza_sl_search_button_div {
        display: none;
    }

    .wpgmza_sl_reset_button_div {
        display: none;
    }
    
    .wpgmza-form-field__label {
        margin-bottom: 8px;
        flex-basis: 100%;
    }
}


/** Club Locator - Map **/
.wpgmza_map {
    display: none !important;
    margin-bottom: 20px;

    &.map-reveal {
        display: block !important;
    }
}

.event-location-container .wpgmza_map {
    display: block !important;
}


/** Club Locator - Table **/
.wpgmza_marker_holder {
    margin-bottom: 20px;

    border: none !important;

    &.list-hide {
        display: none;
    }
    color: #000;

    .dataTables_length {
        display: none;
    }
    .dataTables_filter {
        display: none;
    }

    .wpgmza_table_marker {
        display: none;
    }
    
    .wpgmza_table_category {
        display: none;
    }

    .wpgmza_table_description {
        display: none;
    }
    .wpgmza_table_link a {
        display:block;
	    width: 32px;
	    height: 32px;
        background-image: url('../images/globe.svg');
	    background-size: 32px 32px;
	    text-indent: 100%;
	    white-space: nowrap;
	    overflow: hidden;
    }
    .dataTables_info {
        display: none;
    }
    .dataTables_wrapper {
        padding-left: 20px;
        margin-bottom: 80px;
    }
    .dataTables_wrapper .dataTables_paginate {
        float: left;
    }

    .wpgmza_table .wpgmaps_mlist_row {
        border: none !important
    }

    .wpgmaps_mlist_row.even {
        background-color: #F2F2F2;
    }

    table.dataTable.no-footer {
        border-bottom: none;
        margin-bottom: 20px;
    }
    
    tbody {
        box-shadow: -8px 8px 8px 0px rgba(0,0,0,0.1)
    }
    th {
        text-transform: uppercase;
        text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
        letter-spacing: 1px;
        color: #4C4C4E;
        &.wpgmza_table_title {
            width: 30% !important;
        }
        &.wpgmza_table_address {
            width: 50% !important;
        }
        &.wpgmza_table_link {
            width: 20% !important;
        }
    }
    td {
        padding: 20px 18px !important;
        &.wpgmza_table_address {
            font-family: $meta-serif-pro;
        }
        &.wpgmza_table_title {
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

.dataTables_wrapper .dataTables_paginate.paging_simple_numbers {

    .ellipsis {
        display: none;
    }

    .paginate_button{
      padding: 8px 16px;
        width: auto;
        max-width: none;
        min-width: unset;
        background: unset !important;
        background-color: $white;
        border: 1px solid $light-gray !important;
        margin: 0 !important;
        &:hover {
          color: $black !important;
        }

        &.current {
            background-color: $red !important;
            color: $white !important;
            &:hover {
              color: $white !important;
            }
        }
        &.previous, &.next {
            max-width: unset;
            width: unset;
        }
    }
}

.search-menu.hide {
    display: none;
}

.search-bar {

    &.hide {
        display: none;
    }

    .wpdreams_asl_container {
        margin-top: 6px !important;
    }

    .orig {
        text-transform: uppercase;
        letter-spacing: 0.4px;
    }
}

//Mailing List - Form Styling
.mailing-list {
    padding: 30px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    /*box-shadow: -10px 9px 21px 0px rgba(76,76,76,10);*/
    box-shadow: -8px 8px 8px 0px rgba(0, 0, 0, 0.1);
    h4, h3 {
        max-width: 340px;
        margin-bottom: 20px;
    }
    label {
        text-transform: uppercase;
        font-family: $knockout;
    }
    input, select {
        width: 100%;
        max-width: 400px;
        height: 42px;
        border: 1px solid #D8D8D8;
    }

    .field-row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        label {
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
        }
        input[type=submit] {
            @extend .btn; 
            @extend .btn-small; 
            @extend .btn-red;
            font-family: $knockout;
            font-size: 20px;
            margin-top: 10px; 
            padding-top: 12.5px;
            padding-bottom: 12.5px;
            border-radius: 3px;
            @include responsive-min($responsive-laptop) {
                margin-top: 0;
                margin-left: 20px;
                margin-top: 18px;
                max-width: 400px;
                margin-right: 30px;
            }
        }
    }

}

/* Style Hack - Sponsor Carousel Slick - This is a carry over Curling Shortcode */

.wpls-logo-showcase .slick-track {
    height: auto;
}

/* Search Page */
.search {
    h1.archive-title {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 60px;
    }
    article {
        margin: 20px 0;
        header, section, footer {
            padding: 10px;
        }
    }
    h3.search-title {
        font-size: 24px;
    }
}

.wp-block-list {
    list-style: none;
    margin-left: 20px;
    padding-left: 10px;

    li {
        margin-left: 20px;
        margin-bottom: 20px;
        list-style-type: none;
    }
    li:before {
        font-family: "Meta Serif Pro";
        font-size: 20px;
        color: #000000;
        letter-spacing: 0;
        line-height: 23px;
        display: inline-block;
        content: "–";
        width: 20px;
        margin-left: -20px;
        left: 0;
    }
}

.wp-block-column > ul {
    list-style: none;
    margin-left: 20px;
    padding-left: 10px;
    li {
        margin-left: 20px;
        margin-bottom: 20px;
        list-style-type: none;
    }
    li:before {
        font-family: "Meta Serif Pro";
        font-size: 20px;
        color: #000000;
        letter-spacing: 0;
        line-height: 23px;
        display: inline-block;
        content: "–";
        width: 20px;
        margin-left: -20px;
        left: 0;
    }
}

.block-container .wp-block-cossette-block-container > ul {
    list-style: none;
    margin-left: 20px;
    padding-left: 10px;
    li {
        margin-left: 20px;
        margin-bottom: 20px;
        list-style-type: none;
    }
    li:before {
        font-family: "Meta Serif Pro";
        font-size: 20px;
        color: #000000;
        letter-spacing: 0;
        line-height: 23px;
        display: inline-block;
        content: "–";
        width: 20px;
        margin-left: -20px;
        left: 0;
    }
}

/* Twitter IPhone Hack */
.twitter-timeline {
  margin-top: 11px!important;
  margin-bottom: 11px!important;
  width: 100vw!important;
  box-shadow: -7px 16px 43px 0 rgba(76,76,78,0.10)!important;
  border: 1px solid $cool-light-gray!important;
  border-radius: 5px!important;
  background-color: $white!important;
}

.wpgmza-store-locator.wpgmza_sl_main_div {
  top:0;
  margin-bottom: 20px;
}

.wpgmza_marker_holder th {
  text-shadow: none;
}

.wpgmza_table {
  tbody {
    border: 1px solid $light-gray;
    box-shadow: -10px 9px 21px 0 rgba(76,76,78,0.10);
    border-radius: 2px;
  }
}

.dataTables_wrapper .dataTables_paginate span .paginate_button.current {
  color: $white!important;
}

.wpgmza-store-locator.wpgmza_sl_main_div .wpgmza-form-field__label,
.wpgmza_marker_holder table.dataTable thead th {
  font-family: $knockout;
  font-size: 20px;
  color: $gray;
  letter-spacing: 0.8px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.wpgmza_sl_radius_select {
  margin-bottom: 20px;
  padding: 0 20px;
  height: 42px;
  background-color: $white;
  border: 1px solid $light-gray;
  font-family: $meta-serif-pro;
  font-size: 14px;
  color: $gray;
  letter-spacing: 0;
  line-height: 18px;
  border-radius: 2px;
  -webkit-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, $gray 50%),
    linear-gradient(135deg, $gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 4px),
    calc(100% - 15px) calc(1em + 4px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;

  &:focus {
    outline: none;
  }
}

.wpgmza-store-locator .wpgmza_sl_query_div {
  .map-switcher {
    .listview-button {
      border-radius: 2px 0 0 2px;
    }
    
    .mapview-button {
      border-radius: 0 2px 2px 0;
    }

    .listview-button, .mapview-button {
      &.selected {
        border: none;
      }
    }
  }
}

.width-50 {
  width: 50%;
}

@media only screen and (max-width: 769px) {
    .wp-block-media-text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

//adds tabbable highlight around all elements 
*:focus-visible {
    outline: 2px solid grey !important;
}

.wpcf7-form.init {
    label {
        color: black !important; 
        font-weight: bold !important;
    }
}