.menu-hamburger-mobile {
  &:hover {
    cursor: pointer;
  }
}

.menu-nav-mobile a {
  flex-grow: 1;
}

.header-mobile {
  @include responsive-min($responsive-laptop) {
    display: none;
  }
}

.nav-menu-popout-mobile {
  display: none;
  position: relative;
  z-index: 10;
  background-color: $white;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.15);

  &.active {
    display: block;

    &.nav-menu-popout-submenu-mobile .menu-list-container-mobile {
      display: block;
    }
  }

  &.nav-menu-popout-submenu-mobile {
    display: block;

    .menu-list-container-mobile {
      display: none;
    }
  }
}

.menu-nav-popout-item {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 100;

  &.active {
    display: block;
  }
}

.menu-nav-mobile {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  &.menu-submenunav-mobile {
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    cursor: pointer;
  }
}

.mobile-language-selector {
  min-width: 40px;
  h4 {
    padding: 20px;
    font-size: 20px;
    border-left: 2px solid #d8d8d8;
  }
}

.menu-subnav-mobile {
  justify-content: flex-start;
  width: auto;
  cursor: pointer;
}

.header-desktop {
  display: none;
  @include responsive-min($responsive-laptop) {
    display: block;
    position: relative;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.15);
    z-index: 1;
  }
}

.menu-h2 {
  margin-bottom: 24px;
  font-size: 40px;
  padding-right: 20px;
}

.menu-event-h2 {
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 36px;
}

.menu-event-logo {
  position: absolute;
  top: 12px;
  height: 60px;
  max-height: 60px;
  z-index: 3;
}

.menu-logo-mobile {
  width: 46px;
}

.menu-logo {
  @include responsive-min($responsive-laptop) {
    position: absolute;
    top: 20px;
    margin-left: 19px;
    max-width: 110px;
    max-height: 172px;
    z-index: 100;
  }
}

.nav-left-offset {
  padding-left: 172px;
}

.nav-menu-top-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  height: 90px;
}

.nav-menu-item-mobile {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 19px;
  // font-size: 16px;
  cursor: pointer;
}

.menu-item-events-mobile {
  display: flex;
  justify-content: center;
  margin-top: 31px;
  margin-bottom: 31px;
}

.nav-menu-popout-bottom-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 38px;
  border-top: 1px solid $light-gray;
}

.nav-menu-subitem-mobile {
  font-size: 24px;
}

.nav-menu-top-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-menu-top-right-mobile {
  display: flex;
  background-color: $red;
}

.nav-menu-top-right-wrapper {
  display: flex;
}

.nav-menu-primary-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  height: 120px;
}

.nav-menu-primary-event {
  margin-left: auto;
  margin-right: auto;
  max-width: $full-width-wrapper;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.15);
}

.nav-menu-primary-container {
  position: relative;
}

.nav-menu-popup-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav-menu-popup {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  // transform: translate(-50%, 0);
  width: 100%;
  max-width: 1440px;
  background-color: $white;
  overflow: hidden;
  transform: translateY(0%);
  transform-origin: top center;
  transition: transform 0.25s ease-out;
  z-index: 3;
  
  // &:not(.nav-menu-popup-active) {
  //    top: 165px;
  // }

  &.active {
    transform: translateY(100%);
    z-index: 3;
  }

  &.nav-menu-popup-active {
    position: relative;
    transform: translateY(100%);
    z-index: 2;
  }
}

.nav-menu-popup-list {
  display: flex;
  flex-direction: row;
}

.nav-menu-popup-wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 15px;
  justify-content: space-between;
}

.nav-menu-popup-left {
  padding-top: 12px;
  padding-left: 17px;
  width: 21.50537634%;
  height: 100%;
}

.nav-menu-popup-centre {
  flex-grow: 1;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 126px;
  width: 46.23655914%;
  height: 100%;
}

.nav-menu-popup-centre-menu-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav-menu-popup-centre-menu-subitem {
  width: 50%;
}

.nav-menu-popup-right {
  padding-top: 12px;
  padding-left: 16px;
  width: 32.25806452%;
  height: 100%;
}

.nav-menu-popup-event {
  align-items: flex-start;
}
.nav-menu-popup-event-left {
  padding-top: 63px;
  padding-left: 18px;
  width: 25%;
}

.nav-menu-popup-event-centre {
  display: flex;
  padding-top: 36px;
  width: 47%;
}

.event-item {
  padding-left: 17.5px;
  padding-right: 17.5px;
  max-width: 100%;
  max-height: 100%;
}

.nav-menu-popup-event-right {
  padding-top: 36px;
  padding-left: 35px;
  width: 28%;
}

.menu-nav {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.menu-nav-language {
  border-left: 1px solid $light-gray;
}

.menu-nav-events {
  flex-direction: column;
}

.arrow-right {
  margin-left: 20px;
}

.menu-list-mobile {
  & > .menu-item-mobile .menu-list-mobile{
    display: none;
  }
  &.active > {
    & .menu-item-mobile {
      .menu-list-mobile {
        display: block;
      } 

      > .menu-item-container-mobile .arrow-right {
        transform: rotate(90deg);
      }
    }
  }
}

.menu-item-mobile {
  display: block;
  position: relative;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.menu-item-container-mobile {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: $gray;

  &.ultra-top-level {
    background-color: $red;
  }

}

.menu-item-subcontainer-mobile {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
}

.menu-item-subsubcontainer-mobile {
  border-bottom: none;
}

.menu-item {
  display: flex;
  position: relative;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  &.no-link:hover {
    cursor: default;
  }

  &.active,
  &.menu-item-selected {
    background-color: $red;
    .menu-item-title {
      color: $white;
    }
    .menu-item-arrow {
      display: none;
    }
  }
  .menu-item-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 19px;
    height: 100%;
    text-decoration: inherit;
  }
}

.menu-item-language {
  margin-right: 18px;
  a {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.menu-item-donate {
  margin-top: 11px;
  margin-bottom: 14px;
  margin-left: 5px;
  margin-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 4px;

  .menu-item-donate-link {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.nav-menu-popout-mobile .menu-item-donate {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px
}

.menu-item-arrow {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.menu-item-title {
  font-size: 24px;
  letter-spacing: 0.4px;
  text-align: center;
}

.menu-item-description-mobile {
  font-size: 12px;
  font-style: italic;
}

.menu-item-top-nav {
  font-size: 20px;
  letter-spacing: 1px;
}

.menu-item-small {
  font-size: 15px;
  letter-spacing: 0.75px;
}

.menu-item-subtitle {
  font-family: $knockout;
  font-size: 16px;
  letter-spacing: 0.27px;
  line-height: 14px;
  text-transform: uppercase;
}

.menu-item-selectable {
  display: flex;
  position: relative;
}

.menu-item-selectable:hover {
  cursor: pointer;
}

.menu-item-selectable-text {
  text-align: center;
}

.menu-item-subtitle,
.menu-item-subtitle-event {
  line-height: normal;
  text-align: left;
}

.menu-item-info {
  font-family: $meta-serif-pro;
  font-size: 10px;
  letter-spacing: 0.17px;
  padding-left: 10px;
  text-transform: none;
}

.menu-subitem {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 0;
  padding-right: 30px;
  &:hover {
    cursor: pointer;
  }
}

.menu-event-subitem {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.menu-item-underline {
  display: none;
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 100%;
  background-color: $white;
}

.menu-subitem-event {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 11px;
}

.menu-subitem-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-item-toptitle-mobile {
  max-width: 290px;
}

.menu-nav-events-centre-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;

  .menu-event-poster:first-child {
    margin-right: 17.5px;
  }

  .menu-event-poster:last-child {
    margin-left: 17.5px;
  }
}

.menu-event-poster {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 250px;
  height: 350px;
  border: 1px solid $gray;
}

.menu-event-poster-img-container {
  height: 188px;
}

.menu-event-poster-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-event-poster-bottom-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu-event-poster-name {
  margin-top: 20px;
  font-size: 24px;
}

.menu-event-poster-date {
  font-size: 13px;
}

.menu-event-poster-location {
  font-size: 13px;
}

.menu-event-poster-link-container {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.menu-event-poster-link {
  font-size: 13px;
  text-decoration: none;

  &:first-child {
    margin-right: 20px;
  }

  .arrow-right-large-red:after {
    margin-bottom: 0;
  }
}
